/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(200, 91%, 17%);
  --clr-primary-2: hsl(200, 84%, 25%);
  --clr-primary-3: hsl(200, 81%, 29%);
  --clr-primary-4: hsl(200, 77%, 34%);
  --clr-primary-5: #2d52ce;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(200, 57%, 50%);
  --clr-primary-7: hsl(200, 65%, 59%);
  --clr-primary-8: hsl(200, 80%, 74%);
  --clr-primary-9: hsl(200, 94%, 87%);
  --clr-primary-10: hsl(200, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(231, 77%, 34%);
  --clr-green-light: hsl(216, 60%, 45%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

header li {
  float: left;
}

header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
/* header li a:hover {
  background-color: #111;
}  */

/* 



.participant {
  background-color: white;
  border-radius: 5px;
  padding: 10px 10px 1px 10px;
  margin-bottom: 10px;
}
 */

/* section */
/* .section {
  width: 90vw;
  margin: 2rem auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

.loading {
  text-align: center;
}

.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}
.title {
  margin-bottom: 4rem;
  text-align: center;
} */

/*
=============== 
Jobs
===============
*/
/* 
.jobs-center {
  width: 80vw;
  margin: 0 auto;
  max-width: var(--max-width);
}
.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 4rem;
  flex-wrap: wrap;
}
.job-btn {
  text-align: left;
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1.25rem;
  letter-spacing: var(--spacing);
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
  padding: 0.25rem 0.25rem;
  line-height: 1;
  outline-color: var(--clr-primary-10);
}
.job-btn:hover {
  color: var(--clr-primary-5);
  box-shadow: 0 2px var(--clr-primary-5);
}
.active-btn {
  color: var(--clr-primary-5);
  box-shadow: 0 2px var(--clr-primary-5);
}

.job-info h3 {
  font-weight: 400;
}
.job-info h4 {
  text-transform: uppercase;
  color: var(--clr-grey-5);
  background: var(--clr-grey-9);
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border-radius: var(--radius);
}
.job-date {
  letter-spacing: var(--spacing);
}
.job-desc {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  align-items: center;
  margin-bottom: 1.25rem;
}
.job-desc p {
  margin-bottom: 0;
  color: var(--clr-grey-3);
}
.job-icon {
  color: var(--clr-primary-5);
}
@media screen and (min-width: 992px) {
  .jobs-center {
    width: 90vw;
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 4rem;
  }
  .btn-container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .job-btn {
    margin-bottom: 1rem;
  }
  .active-btn {
    box-shadow: -2px 0 var(--clr-primary-5);
  }
  .job-btn:hover {
    box-shadow: -2px 0 var(--clr-primary-5);
  }
}
.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-9);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  display: block;
  width: 12rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 3rem;
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
} */

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(37, 50, 112);
  /* background-color: var(--clr-primary-5); */
  color: white;
  padding: 0.1rem 1%;
}

.logo {
  cursor: pointer;
  color: #f9f9f9;
}

.user {
  margin-left: auto;
  color: #f9f9f9;
}

nav {
  color: #fff;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 10px;
  margin-left: 30px;
}

.nav__links li a {
  color: #fff;
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: rgb(89, 112, 240);
}

.section {
  width: 80vw;
  margin: 2rem auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}
.title {
  margin-bottom: 4rem;
  text-align: center;
}

.projects-list {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.project-info {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 200px;
  margin: 1rem;
}

.project-title {
  font-weight: 400;
}

.project-status {
  text-transform: uppercase;
  color: var(--clr-grey-5);
  background: var(--clr-grey-9);
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border-radius: var(--radius);
}

.project-date {
  letter-spacing: var(--spacing);
}

.project-desc {
  margin-bottom: 0;
  color: var(--clr-grey-3);
}

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-10);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  display: inline-block;

  text-align: center;
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-right: 1.5rem;
}
.btn:hover {
  color: var(--clr-primary-7);
  background: var(--clr-primary-5);
}

.project-details-btn {
  background: var(--clr-primary-5);
  color: var(--clr-primary-10);
}
.project-details-btn:hover {
  color: var(--clr-primary-7);
  background: var(--clr-primary-4);
}

.project-delete-btn {
  background: darkred;
  color: var(--clr-primary-10);
}
.project-delete-btn:hover {
  color: indianred;
  background: firebrick;
}

.form {
  background: var(--clr-white);
  max-width: var(--fixed-width);
  margin: 3rem auto;
  margin-bottom: 3rem;
  padding: 1rem 2rem;
  border-radius: var(--radius);
}
.form input {
  background: var(--clr-grey-10);
  border-color: transparent;
  border-radius: var(--radius);
  padding: 0.35rem 0.5rem;
}
.form-control {
  margin: 1.5rem 0rem;
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
}
.form button {
  display: inline-block;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  border-color: transparent;
  margin-top: 1rem;
  letter-spacing: var(--spacing);
  padding: 0.25rem 0.35rem;
  text-transform: capitalize;
  border-radius: var(--radius);
  cursor: pointer;
}

.log-btn {
  display: inline-block;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  border-color: transparent;
  margin-top: 0.2rem;
  letter-spacing: var(--spacing);
  padding: 0.15rem 0.35rem;
  text-transform: capitalize;
  border-radius: var(--radius);
  cursor: pointer;
}

.project-details {
  display: flex;
  flex-wrap: wrap;
}

.project-details-sidebar {
  flex: 1 1 10%;
  min-width: 20ch;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 2rem 1rem;
}

.project-tab {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1.25rem;
  letter-spacing: var(--spacing);
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
  padding: 0.25rem 0;
  line-height: 1;
  outline-color: var(--clr-primary-10);
}
.project-tab:hover {
  color: var(--clr-primary-5);
  box-shadow: 0 2px var(--clr-primary-5);
}
.active-tab {
  color: var(--clr-primary-5);
  box-shadow: 0 2px var(--clr-primary-5);
}

.project-details-content {
  flex: 1 1 80%;
  justify-content: flex-start;
}

.item {
  width: 100%;
  display: block;
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem;
}

.cancel {
  background-color: brown;
  color: #fff;
}

.cancel:hover {
  background-color: rgb(204, 59, 59);
  color: #f9f9f9;
}
